<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>CSV Website</title>

<script>
function process()
{
var url="/report?name=" + document.getElementById("url").value;
location.href=url;
return false;
}
</script>



<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>

<header>
<%= erb :nav %>
</header>


<div class="indexPage">

	<div class="dropdown">
	  <button class="dropbtn">Main Reports</button>
	  <div class="dropdown-content">
	    <a href="/full">All Reports</a>
	    <a href="/report?name=Sonia">Sonia</a>
	    <a href="/report?name=Priya">Priya</a>
	  </div>
	</div>

	<div class="findTrans">
		<p>Enter any name to see if there are <br>
		transactions associated with that name.<p>
		<form onSubmit="return process();">
		Name: <input type="text" name="url" id="url"> <input type="submit" value="go">
		</form>
	</div>


</div> 

</body>
</html>