<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>CSV Website</title>

<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
<header>
	<div> 
		<div style="float:left" id ="leftHeader">
		      <a href="/full">All Reports</a>
		      <a href="/report?name=Sonia">Sonia</a>
		      <a href="/report?name=Priya">Priya</a>
		</div>
		    
		<div style="float: right" id="rightHeader">      
			<form action="/login" method="post" <%= if(session[:message] == "true") then ('hidden') end %>>
				<input type="text" placeholder="username", name="user"></input>
				<input type="password" placeholder="password", name="pass"></input>
				<button type="submit" name="login">Log in</button>
			<form <%= if(session["loginfail"] != "true") then ('hidden') end %>> 
				<p class="welcome">Not Logged in. Please Log in</p></form>
			</form>

			<form action="/logout" method="post" <%= if(session[:message] == "false") then ("hidden") end %>>
				<p class="welcome"> Welcome: <%= session["username"] %>
				<button type="Submit" name="logout">Log Out</button></p>
  			</form>

		</div> 
	</div>
</header>




<div class="content">
<h3>Please login to edit reports</h3>


	<form action="/login" method="post">
		<input type="text" placeholder="username", name="user"></input>
		<input type="password" placeholder="password", name="pass"></input>
		<p> <button type="submit" name="login">Log in</button></p>
	</form>
	<br>
	<br>
	<hr>
	<br>
	<br>
	<h3>Coninue without logging in</h3>
	<form action="/index">
		<p><button type="submit" name="continue">Continue</button></p>
	</form>
</div>

</body>
</html>


