<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>CSV Website</title>

<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>

<header>
<%= erb :nav %>
</header>

<div class="content">
<h3>Please login to edit reports</h3>


	<form action="/login" method="post">
		<input type="text" placeholder="username", name="user"></input>
		<input type="password" placeholder="password", name="pass"></input>
		<p> <button type="submit" name="login">Log in</button></p>
	</form>
	<br>
	<br>
	<hr>
	<br>
	<br>
	<h3>Coninue without logging in</h3>
	<form action="/index">
		<p><button type="submit" name="continue">Continue</button></p>
	</form>
</div>

</body>
</html>


